name: .NET Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Restore
        run: dotnet restore MyLibrary/MyLibrary.sln

      - name: Build
        run: dotnet build MyLibrary/MyLibrary.sln --configuration Release --no-restore

      - name: Test
        run: dotnet test MyLibrary/MyLibrary.sln --configuration Release --no-build
